%h1 Engineering::Lam#bydate

-if flash[:notice]
	#error_msg= flash[:notice]

%p Displaying #{@lams.length} LAMs received during the #{@ival}s from #{@begin_at} to #{@end_at}.

=render :partial => "lams"
