-content_for :head do
	=javascript_include_tag 'excanvas','flot'

:javascript
	plotData = #{@plotData.to_json};
	plotOptions = #{@plotOptions.to_json};
	plotTitles = #{@plotTitles.to_json};
	dataLabels = #{@dataLabels.to_json};
	zoom = #{@zoom};
	index = #{@index};
	nid = #{@config.networkID};
	zoom_in = #{@zoom_in};
	zoom_out = #{@zoom_out};

#content
	#header
		&= @description
	#body
		#datetime= @window_title
		.frame
			#temperature.plot
			.title
		.frame
			#lighting.plot
			.title
		.frame
			#power.plot
			.title
		#footer
			%a#oldest Oldest &laquo;
			%a#older Older &lsaquo;
			%span#zoom
				%a#zoom-in Zoom In
				%a#zoom-out Zoom Out
			%a#newer &rsaquo; Newer
			%a#newest &raquo; Newest
		-#%p="id=#{@config.networkID}, index=#{@index}, zoom=#{@zoom}, size=#{@bin_size_as_words}, n=#{@binned.length}"
	%ul#navigation
		%li=link_to "home", :action=>:index
		%li=link_to "help", :controller=>:help, :action=>:detail
	#note
		=render :partial=>"note"