-content_for :head do
	=javascript_include_tag 'excanvas','flot'

#content
	#header
		&= @profile ? @profile.description : "(Unknown Location)"
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%p Graphs go here...
		#footer
			%span Oldest
			&laquo;
			%span Older
			&lsaquo;
			%span Zoom In
			|
			%span Zoom Out
			&rsaquo;
			%span Newer
			&raquo;
			%span Newest
		-#%p= id=#{@config.networkID}, index=#{@index}, zoom=#{@zoom}
	%ul#navigation
		%li home
		%li=link_to "help"
	#note
		=render :partial=>"note"