-content_for :head do
	=javascript_include_tag 'excanvas','flot'

:javascript
	plotData = #{@plotData.to_json}
	plotOptions = #{@plotOptions.to_json}
	plotTitles = #{@plotTitles.to_json}
	zoom = #{@zoom}
	index = #{@index}
	nid = #{@config.networkID}

#content
	#header
		&= @description
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		.frame
			#temperature.plot
		.frame
			#lighting.plot
		.frame
			#power.plot
		#footer
			%span#oldest Oldest &laquo;
			%span#older Older &lsaquo;
			%span#zoom
				%span#zoom-in Zoom In
				%span#zoom-out Zoom Out
			%span#newer &rsaquo; Newer
			%span#newest &raquo; Newest
		-#%p="id=#{@config.networkID}, index=#{@index}, zoom=#{@zoom}, size=#{@bin_size_as_words}, n=#{@binned.length}"
	%ul#navigation
		%li=link_to "home", :action=>:index
		%li=link_to "help", :controller=>:help, :action=>:detail
	#note
		=render :partial=>"note"