-content_for :head do
	=javascript_include_tag 'excanvas','flot'
#content
	#header
		&= @config ? @config.location : "Invalid Device ID"
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%table#detail.graph-me
			%tr
				%th When 
				%th Temp
				%th Light
				%th Power
			-@binned.each do |b|
				%tr
					%td=b[:when]
					%td=sprintf "%.3f",b[:temperature]
					%td=sprintf "%.1f",b[:lighting]
					%td=sprintf "%.2f",b[:power]
		#footer
			#ticks
				-@tick_labels.each do |label|
					%span&=label
			&=@label
			-form_tag '/athome/detail' do
				=hidden_field_tag 'begin_at',@begin_at.to_i+@tz_offset
				=hidden_field_tag 'end_at',@end_at.to_i+@tz_offset
				=hidden_field_tag 'id',@config.networkID
				=hidden_field_tag 'index',@index
				=submit_tag 'Oldest',:disabled=>@oldest
				=submit_tag 'Older',:disabled=>@oldest
				=select_tag 'zoom',options_for_select(@zoomLevels,@zoomLevels[@zoom].last)
				=submit_tag 'Newer',:disabled=>@newest
				=submit_tag 'Newest',:disabled=>@newest
				%br
				=submit_tag 'Update'
			%br
			="id=#{@config.networkID}, index=#{@index}, zoom=#{@zoom}"
	%ul#navigation
		%li home
		%li=link_to "help"
		%li=link_to "settings"
	#note
		=render :partial=>"note"