#content
	#header
		&= @config ? @config.location : "Invalid Device ID"
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%table
			%tr
				%th.location
				%th When 
				%th Temp
				%th Light
				%th Power
				%th Cost
			-@samples.each do |s|
				%tr
					%td.location&= s.location
					%td&=s.created_at.localtime
					%td= sprintf "%.1f&deg;F",1e-2*s.temperature
					%td= sprintf "%d (%.0f%%)",s.lighting,1e2*s.artificial/s.lighting
					%td= s.power ? (sprintf "%.1fW",1e-1*s.power) : "&mdash;"
					%td= s.cost ? (sprintf "$%4.2f",s.cost) : "&mdash;"
		#footer
			#ticks
				-@tick_labels.each do |label|
					%span&=label
			&=@label
			-form_tag '/athome/detail' do
				=hidden_field_tag 'id',@config.networkID
				=hidden_field_tag 'index',@index
				=submit_tag 'Oldest',:disabled=>@oldest
				=submit_tag 'Older',:disabled=>@oldest
				=select_tag 'zoom',options_for_select(@zoomLevels,@zoomLevels[@zoom].last)
				=submit_tag 'Newer',:disabled=>@newest
				=submit_tag 'Newest',:disabled=>@newest
				%br
				=submit_tag 'Update'
			%br
				="id=#{@config.networkID}, index=#{@index}, zoom=#{@zoom}"
	%ul#navigation
		%li home
		%li=link_to "help"
		%li=link_to "settings"
	#note
		=render :partial=>"note"