:javascript
	last = #{@max_id}

#content{:class=> (params.has_key?('at') ? 'replay':'live-updates')}
	#header
		uci@home
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%table
			%tr
				%th.where Location
				-if ATHOME['display_temperature']
					%th.vcol= "Temp"
				-if ATHOME['display_lighting']
					%th.vcol Light
				-if ATHOME['display_power']
					%th.vcol Power
					%th.vcol Projected
					%th.vcol Actual
			-@samples.each do |s|
				-where = s[:profile].description
				-nid = s[:profile].networkID
				%tr{:id=>sprintf("nid%02x",nid)}
					%td.where= link_to where,:action=>'detail',:nid=>nid
					-if ATHOME['display_temperature']
						%td.temp= s[:temperature]
					-if ATHOME['display_lighting']
						%td.light= s[:lighting][0]
					-if ATHOME['display_power']
						%td= colorize s[:power]
						%td= colorize s[:cost]
						%td= colorize s[:energy]
	%ul#navigation
		%li home
		%li=link_to "help",:controller=>:help,:action=>:home
	=render :partial=>"note"