:javascript
	last = #{@max_id}

#content.live-updates
	#header
		uci@home
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%table
			%tr
				%th.where Location
				-if ATHOME['display_temperature']
					%th.vcol= "Temp"
				-if ATHOME['display_lighting']
					%th.vcol Light
				-if ATHOME['display_power']
					%th.vcol Power
					%th.vcol Projected
			-@samples.each do |s|
				-p = s[:profile]
				%tr{:id=>sprintf("nid%02x",p.networkID)}
					-#%td.where= link_to p.description, :action=>'detail', :nid=>p.networkID
					%td.where= p.description
					-if ATHOME['display_temperature']
						%td.temp= s[:temperature]
					-if ATHOME['display_lighting']
						%td.light= s[:lighting][0]
					-if ATHOME['display_power']
						%td= colorize s[:power]
						%td= colorize s[:cost]
	%ul#navigation
		%li home
		%li=link_to "help"
	=render :partial=>"note"