#content
	#header
		Welcome to your hub@home
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%table
			%tr
				%th
				%th.vcol Temp
				%th.vcol Light
				%th.vcol Power
				%th.vcol Cost
			-@samples.each do |s|
				%tr
					%td= link_to s.location, :action=>'detail', :nid=>s.networkID
					%td.temp
						%span&= sprintf "%.1f",1e-2*s.temperature
						%span>="&deg;F"
					%td.light
						%span&= s.lighting
						%span><= "/"
						%span&= s.artificial
					%td= s.power ? (sprintf "%.3fW",s.power) : "&mdash;"
					%td
	%ul#navigation
		%li home
		%li=link_to "help"
		%li=link_to "settings"
	#note
		=render :partial=>"note"