#content
	#header
		Welcome to your hub@home
	#body
		#datetime
			%span#date= format_date @at
			%span#time= format_time @at
		%table
			%tr
				%th.location
				%th Temp
				%th Light
				%th Power
				%th Cost
			-@samples.each do |s|
				%tr
					%td.location&= s.location
					%td= sprintf "%.1f&deg;F",1e-2*s.temperature
					%td= sprintf "%d (%.0f%%)",s.lighting,1e2*s.artificial/s.lighting
					%td= s.power ? (sprintf "%.1fW",1e-1*s.power) : "&mdash;"
					%td= s.cost ? (sprintf "$%4.2f",s.cost) : "&mdash;"
	%ul#navigation
		%li home
		%li=link_to "help"
		%li=link_to "settings"
	#note
		-form_for(@note,:url=>{:action=>"create_note"}) do |f|
			=f.error_messages
			=f.hidden_field :view
			=f.hidden_field :view_at
			=f.text_area :body,:rows=>4
		#note-save
		-if @note.user then
			=link_to_remote "Save note as #{@note.user.name}",:url=>{:action=>"create_note",:user_id=>@note.user.id},:update=>"note-response",:submit=>"note"
			&nbsp;
			=link_to "(that's not me)"
		-else
			Save note as...
			-User.all.each do |user|
				&nbsp;
				=link_to_remote user.name,:url=>{:action=>"create_note",:user_id=>user.id},:update=>"note-response",:submit=>"note"
		#note-response
			Response goes here...