%p
	Serial Number (8 hex digits):
	= @form.text_field :serialNumber, :size=>8
	Network ID (0-255):
	= @form.text_field :networkID, :size=>3
%p
	Location (must be unique)
	%br
	= @form.text_field :location, :size=>40
%p
	Capabilities		
	%br
	= @form.check_box :lightingFeedback
	lighting feedback
	= @form.check_box :temperatureFeedback
	temperature feedback
%p
	Temperature comfort zone
	%br
	Minimum (F):
	= @form.text_field :minTemperature, :size=>6
	Maximum (F):
	= @form.text_field :maxTemperature, :size=>6
