%p
	Serial Number (8 hex digits):
	= @form.text_field :serialNumber, :size=>8
	Network ID (0-255):
	= @form.text_field :networkID, :size=>3
%p
	Location (must be unique)
	%br
	= @form.text_field :location, :size=>40

%h3 Capabilities
%p
	= @form.check_box :lightingFeedback
	lighting feedback
	= @form.check_box :temperatureFeedback
	temperature feedback
	= @form.check_box :lightingDump
	lighting buffer dumps
	= @form.check_box :powerDump
	power buffer dumps
	= @form.check_box :audioDiagnostics
	audio diagnostic feedback
	= @form.check_box :powerEdgeAudio
	power edge audio feedback
	= @form.check_box :powerLevelAudio
	power level audio feedback
	= @form.check_box :greenGlow
	green glow
	= @form.check_box :amberGlow
	amber glow
	= @form.check_box :redGlow
	red glow
	= @form.check_box :greenFlash
	green flash
	= @form.check_box :amberFlash
	amber flash
	= @form.check_box :redFlash
	red flash
	= @form.check_box :blueFlash
	blue flash
	= @form.check_box :lightAudio
	audio lighting feedback
	%br
	Buffer dump interval (cycles, 2-255):
	= @form.text_field :dumpInterval, :size=>3

%h3 Temperature Configuration
%p
	Comfort zone
	%br
	Minimum (F, 0-255):
	= @form.text_field :comfortTempMin, :size=>3
	Maximum (F, 0-255):
	= @form.text_field :comfortTempMax, :size=>3
%p
	Self-heating correction
	%br
	Offset (F/100, 0-65535):
	= @form.text_field :selfHeatOffset, :size=>5
	Delay (secs*10, 0-255):
	= @form.text_field :selfHeatDelay, :size=>3

%h3 Power Analysis Configuration
%p
	Relative phase calibration
	%br
	Hi-Gain Shift (&mu;s, 0-65535):
	= @form.text_field :fiducialShiftHi, :size=>5
	Hi-Lo Delta (&mu;s 0-255):
	= @form.text_field :fiducialHiLoDelta, :size=>3
%p
	ADC to power calibration
	%br
	High-gain channel (mW/ADC, 0-65535):
	= @form.text_field :powerGainHi, :size=>5
	Low-gain channel (mW/ADC, 0-65535):
	= @form.text_field :powerGainLo, :size=>5
	Max high-gain clipping (samples, 0-255):
	= @form.text_field :nClipCut, :size=>3
%p
	Power audio feedback control register:
	= @form.text_field :powerAudioControl
	
%h3 Lighting Analysis Configuration
%p
	Relative phase calibration
	%br
	Hi-Gain Shift (&mu;s, 0-65535):
	= @form.text_field :lightFidShiftHi, :size=>5
	Hi-Lo Delta (&mu;s, 100+value, 0-255):
	= @form.text_field :lightFidHiLoDelta, :size=>3
%p
	ADC to lighting level calibration
	%br
	High-gain scale factor (arb./ADC, (1+value)/128, 0-255):
	= @form.text_field :lightGainHi, :size=>3
	High/low gain ratio ((value << 4)/(1<<15), 0-65535):
	= @form.text_field :lightGainHiLoRatio, :size=>5
%p
	Lighting thresholds
	%br
	Dark threshold (high-gain units, 0-65535):
	= @form.text_field :darkThreshold, :size=>5
	Artificial threshold (test is 120Hz/mean > 1/value, 0-255):
	= @form.text_field :artificialThreshold, :size=>3
