-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

%h1 Engineering::Analysis#light

%p Displaying lighting analysis for the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

%p Found #{@dumps.length} dumps for network ID #{@config.networkID} during this interval.

%p Analysis requested at #{@at.localtime}. Using configuration ID #{@config.id} created at #{@config.created_at.localtime}.

:javascript
	analysisPlots = #{@analysisPlots.to_json}

%h2 Lighting-Voltage Relative Phase

%h3#relPhase.analysis-plot Raw Phase Shift

%ul
	%li Hi-Gain: #{@config.lightFidShiftHi} &mu;s
	%li Hi-Lo Delta: 100 + #{@config.lightFidHiLoDelta} &mu;s

%h2 Lighting Levels

%ul
	%li Hi-Gain Scale: #{@hiGain} [#{@config.lightGainHi}]
	%li Hi/Lo Scale Ratio: #{@hiloRatio} [#{@config.lightGainHiLoRatio}]

%h3#lightLevel.analysis-plot Mean Lighting Level

%ul
	%li Dark Threshold: $#{sprintf "%04X",@config.darkThreshold}
	%li Hi-Gain Dark Threshold (use LO only): #{@hiDark}
	%li Lo-Gain Dark Threshold (use HI+LO unless HI is clipped): #{@loDark}

%h3#artificialLevel.analysis-plot Amplitude of 120Hz Detected

%ul
	%li 0.1 x Hi-Gain Dark Threshold (use HI only, no visual feedback): #{0.1*@hiDark}
	%li 0.1 x Lo-Gain Dark Threshold (use HI+LO unless HI is clipped): #{0.1*@loDark}

%h3#artificialRatio.analysis-plot 120Hz / Mean Lighting Ratio

%p Cut is at #{@config.artificialThreshold}

%h2#numSamplesUsed.analysis-plot Number of Samples Clipped

%p High-gain analysis not used if more than 100 samples are clipped.
