-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

%h1 Engineering::Analysis#light

%p Displaying lighting analysis for the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

%p Found #{@dumps.length} dumps for network ID #{@config.networkID} during this interval.

%p Analysis requested at #{@at.localtime}. Using configuration ID #{@config.id} created at #{@config.created_at.localtime}.

:javascript
	analysisPlots = #{@analysisPlots.to_json}

%h2 Lighting-Voltage Relative Phase

%h3#relPhase.analysis-plot Raw Phase Shift

%ul
	%li Hi-Gain: #{@config.lightFidShiftHi} &mu;s
	%li Hi-Lo Delta: 100 + #{@config.lightFidHiLoDelta} &mu;s

%h2 Lighting Levels

%ul
	%li Hi-Gain Scale: #{@hiGain} [#{@config.lightGainHi}]
	%li Hi/Lo Scale Ratio: #{@hiloRatio} [#{@config.lightGainHiLoRatio}]

%h3#lightLevel.analysis-plot Mean Lighting Level

%ul
	%li Hi-Gain Dark Threshold: #{(@config.darkThreshold & 0xff)}
	%li Lo-Gain Dark Threshold: #{(@config.darkThreshold >> 8)*@hiloRatio}

%h3#artificialLevel.analysis-plot Amount of 120Hz Detected

%p Some text here...

%h3#artificialRatio.analysis-plot 120Hz / Mean Lighting Ratio

%p Cut is at #{@config.artificialThreshold}

%h2#numSamplesUsed.analysis-plot Number of Lighting Samples Used

%p Some text here...
