-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

%h1 Engineering::Samples#recent

%p Displaying power analysis for the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

%p Found #{@dumps.length} dumps for network ID #{@config.networkID} during this interval.

:javascript
	analysisPlots = #{@analysisPlots.to_json}

%h2#fidArea.analysis-plot Fiducial Pulse Area

%p Area is measured by overlaying 6 consecutive fiducial pulses and assuming a 60 Hz period. Units are 33 ADC-&micro;s and the maximum possible value, corresponding to a signal that is always high, is 255,750.

%p Area should remain roughly constant over time and not depend on the type of load. Large changes would indicate a problem with the AC voltage fiducial circuit or the AC voltage itself.

%h2#relPhase.analysis-plot Current-Voltage Relative Phase

%p Relative phase is the delay in &micro;s between the zero crossing of the 60 Hz component of the measured current and the previous fiducial pulse centroid, modulo a 120 Hz cycle. The possible range is 0 to 8,333 &micro;s.

%p Relative phase should be stable for a stable load and should match between the HI and LO gain channels for any given load. All purely resistive loads should have the same relative phase, but this is not zero because of the phase delays within the circuit (mostly due to the current amplifier feedback impedance).
