-content_for :head do
	=javascript_include_tag 'excanvas','flot','eng-plot'

%h1 Engineering::Dump#samples

%h2= "Source: #{source_label @dump}"

%h2= "Timestamp: #{@dump.micros} &micro;s"

%ul
	-@results.each do |key,value|
		%li&="#{key} = #{value}"

=link_to "Data",:action=>"samples",:format=>:text,:id=>@dump
=link_to "Recent",:action=>"recent"

:javascript
	plotData = #{@data.to_json};
	modelData = #{@model.to_json};
	plotOptions = { };

%table#dump
	%tr
		%th Offset (&micro;s)
		%th ADC Value
	-@data.each do |row|
		%tr
			%td&= row[0]
			%td&= row[1]
