%h1 Engineering::Dump#samples

%h2= "Source: #{source_label @dump}"

%h2= "Timestamp: #{@dump.micros} &micro;s"

%table
	%tr
		%th Offset (&micro;s)
		%th ADC Value
	-@dump.samples.each_index do |k|
		%tr
			%td&= 200*k
			%td&= @dump.samples[k]
