-content_for :head do
	=javascript_include_tag 'excanvas','flot','dump-plot'

%h1 Engineering::Dump#samples

%h2= "Source: #{source_label @dump}"

%h2= "Timestamp: #{@dump.micros} &micro;s"

:javascript
	plotData = #{@data.to_json};
	plotOptions = { series: { points: { show: true }}};

%table#dump
	%tr
		%th Offset (&micro;s)
		%th ADC Value
	-@data.each do |row|
		%tr
			%td&= row[0]
			%td&= row[1]
