%h1 Engineering::HubSensorReadings#bydate

-if flash[:notice]
	#error_msg= flash[:notice]

%p Displaying #{@readings.length} hub sensor readings received during the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

=render :partial => "readings"
