%h1= "#{format_date @at} #{format_time @at}"

%table
	%tr
		%th
		%th Serial #
		%th NetID
		%th Profile
		%th Last Config
		%th Last Sample
		%th Power Dump
		%th Power Analysis
		%th Light Dump
		%th Light Analysis
		%th Version
	-@devices.each_index do |k|
		-dev = @devices[k]
		-netID= dev[:config].networkID
		%tr{:class=> (k%2)==1 ? 'odd' : 'even'}
			%td= capability dev[:config].enabled
			%td= link_to format_serialNumber(dev[:config].serialNumber), :controller=> :config, :action=>:edit, :id => dev[:config]
			%td= dev[:config].networkID
			%td= link_to_if dev[:profile], dev[:profile] || '(none)', :controller=> :profile, :action=>:edit, :id=> dev[:profile]
			%td= link_to_if dev[:last_config], time_ago(dev[:last_config],'(unconfigured)'), :controller=> :config, :action=>:edit, :id => dev[:config]
			%td= link_to_if dev[:last_sample], time_ago(dev[:last_sample],'(none)'), :controller=> :sample, :action=>:recent, :nid=>netID, :n=>100
			%td= link_to_if dev[:last_power_dump], time_ago(dev[:last_power_dump],'(none)'), :controller=> :dump, :action=>:recent, :nid=>netID, :n=>15, :power=>true
			%td
				-if dev[:last_power_dump]
					=link_to "5min",:controller=>:analysis,:nid=>netID,:action=>:power,:ival=>'5m',:end=>dev[:last_power_dump]
					|
					=link_to "15min",:controller=>:analysis,:nid=>netID,:action=>:power,:ival=>'15m',:end=>dev[:last_power_dump]
					|
					=link_to "1hr",:controller=>:analysis,:nid=>netID,:action=>:power,:ival=>'1h',:end=>dev[:last_power_dump]
			%td= link_to_if dev[:last_light_dump], time_ago(dev[:last_light_dump],'(none)'), :controller=> :dump, :action=>:recent, :nid=>netID, :n=>10, :light=>true
			%td
				-if dev[:last_light_dump]
					=link_to "5min",:controller=>:analysis,:nid=>netID,:action=>:light,:ival=>'5m',:end=>dev[:last_light_dump]
					|
					=link_to "15min",:controller=>:analysis,:nid=>netID,:action=>:light,:ival=>'15m',:end=>dev[:last_light_dump]
					|
					=link_to "1hr",:controller=>:analysis,:nid=>netID,:action=>:light,:ival=>'1h',:end=>dev[:last_light_dump]
			-if dev[:last_lam]
				%td= link_to_commitID dev[:last_lam]
			-else
				%td (unknown)
	%tr
		%td
		%td= link_to "All Configs", :controller=>:config, :action=>:index
		%td
		%td= link_to "All Profiles", :controller=>:profile, :action=>:index
		%td
		%td= link_to "All Recent", :controller=>:sample, :action=>:recent, :n=>100