%h1= "#{format_date @at} #{format_time @at}"

%table
	%tr
		%th
		%th Serial #
		%th NetID
		%th Last Config
		%th Profile
		%th Last Sample
		%th Power Dump
		%th Light Dump
	-@devices.each do |dev|
		-netID= dev[:config].networkID
		%tr
			%td= capability dev[:config].enabled
			%td= format_serialNumber(dev[:config].serialNumber)
			%td= dev[:config].networkID
			%td= link_to time_ago(dev[:last_config],'(unconfigured)'), :controller=> :config, :action=>:edit, :id => dev[:config]
			%td= link_to_if dev[:profile], dev[:profile] || '(none)', :controller=> :profile, :action=>:edit, :id=> dev[:profile]
			%td= link_to_if dev[:last_sample], time_ago(dev[:last_sample],'(none)'), :controller=> :sample, :action=>:recent, :nid=>netID, :n=>100
			%td= link_to_if dev[:last_power_dump], time_ago(dev[:last_power_dump],'(none)'), :controller=> :dump, :action=>:recent, :nid=>netID, :n=>15, :power=>true
			%td= link_to_if dev[:last_light_dump], time_ago(dev[:last_light_dump],'(none)'), :controller=> :dump, :action=>:recent, :nid=>netID, :n=>10, :light=>true
	%tr
		%td
		%td
		%td
		%td= link_to "All Configs", :controller=>:config, :action=>:index
		%td= link_to "All Profiles", :controller=>:profile, :action=>:index
		%td= link_to "All Recent", :controller=>:sample, :action=>:recent, :n=>100