%h1= "#{format_date @at} #{format_time @at}"

%table
	%tr
		%th
		%th Serial #
		%th NetID
		%th Last Config
		%th Profile
		%th Last Sample
	-@devices.each do |dev|
		%tr
			%td= capability dev[:config].enabled
			%td= format_serialNumber(dev[:config].serialNumber)
			%td= dev[:config].networkID
			%td= link_to dev[:last_config], :controller=> :config, :action=>:edit, :id => dev[:config]
			-if dev[:profile]
				%td= link_to dev[:profile].description, :controller=> :profile, :action=>:edit, :id=> dev[:profile]
			-else
				%td (no profile)
			%td= link_to dev[:last_sample], :controller=> :sample, :action=>:recent, :nid=>dev[:config].networkID, :n=>100
	%tr
		%td
		%td
		%td
		%td= link_to "All Configs", :controller=>:config, :action=>:index
		%td= link_to "All Profiles", :controller=>:profile, :action=>:index
		%td= link_to "All Recent", :controller=>:sample, :action=>:recent, :n=>100