%h1= "#{format_date @at} #{format_time @at}"

%table
	%tr
		%th
		%th Device
	-@devices.each do |dev|
		%tr
			%td= capability dev[:config].enabled
			%td= link_to format_serialNumber(dev[:config].serialNumber), :controller=> :config, :action=>:edit, :id => dev[:config]
	%tr
		%td
		%td= link_to "All Configs", :controller=>:config, :action=>:index