%h1 Engineering::DeviceLog#bydate

-if flash[:notice]
	#error_msg= flash[:notice]

%p Displaying #{@logs.length} LAMs received during the #{@ival}s from #{@begin_at} to #{@end_at}.

=render :partial => "logs"
