%h1 Engineering::Samples#bydate

-if flash[:notice]
	#error_msg= flash[:notice]

%p Displaying #{@samples.length} LAMs received during the #{@ival}s from #{@begin_at.localtime} to #{@end_at.localtime}.

=render :partial => "samples"
